<div class="card_dashboard mat-elevation-z4">
    <mat-card >
        <mat-card-header  id="title">
            <mat-card-title  id="title_police">Informations</mat-card-title>
        </mat-card-header>
        <hr>
        <mat-card-content *ngIf = "isLoaded && simulation">
            <div class="simInfo">
                <ul>
                <li>Objectif: <br><p class="output"> {{simulation.jobGoal}} </p></li>
                <li>Date de réalisation:<br><p class="output"> {{simulation.creationDate | date: "dd/MM/yyyy"}} </p></li>
                <li>Synthèse:<br><p class="output"> {{simulation.synthesis}} </p></li>
                <!--<li *ngIf="simulation.jobOffer">
                    Offre d'emploi associée: <br>
                    <a routerLink="{{'/home/offre/' + simulation.jobOffer.id }}"><p class="output">{{simulation.jobOffer.name}}</p></a>
                </li> -->
                <li *ngIf="simulation.training">
                    Proposition de formation: <br>
                    <a routerLink="{{'/home/formation/' + simulation.training.id }}"><p class="output">{{simulation.training.name}}</p></a>
                </li>
                </ul>
            </div>
        </mat-card-content>

        <!-- <mat-card-content *ngIf = "isLoaded && ! simulation">
            <h3>Aucune information</h3>
        </mat-card-content> -->
        
        <div class="progressBarDiv" *ngIf="!isLoaded">
            <mat-spinner class="loading_mat_spinner" color="primary" ></mat-spinner>
        </div>
    </mat-card>
</div>


