<div class="card_dashboard mat-elevation-z4">
    <mat-card >
        <mat-card-header  id="title">
            <mat-card-title  id="title_police">Informations</mat-card-title>
        </mat-card-header>
        <hr>
        <mat-card-content *ngIf = "simulation">
            <div class="simInfo">
                <ul>
                <li>Date de réalisation: {{simulation.creationDate | date: "dd/MM/yyyy"}}  </li>
                <li>Synthèse: {{simulation.synthesis}} </li>
                <li>Offre d'emploi associée: {{simulation.jobGoal}} </li>
                <li>Proposition de formation: {{simulation.jobGoal}} </li>
                </ul>
            </div>
        </mat-card-content>
    </mat-card>
</div>

