<div class="card_dashboard mat-elevation-z4">
    <mat-card >
        <mat-card-header  id="title">
            <mat-card-title  id="title_police">Informations</mat-card-title>
        </mat-card-header>
        <hr>
        <mat-card-content *ngIf = "isLoaded && simulation">
            <div class="simInfo">
                <ul>
                <li>objectif: {{simulation.jobGoal}}  </li>
                <li>Date de réalisation: {{simulation.creationDate | date: "dd/MM/yyyy"}}  </li>
                <li>Synthèse: {{simulation.synthesis}} </li>
                <li *ngIf="simulation.jobOffer">
                    Offre d'emploi associée: <br> 
                    <a routerLink="{{'/home/offre/' + simulation.jobOffer.id }}">{{simulation.jobOffer.name}}</a>
                </li>
                <!-- <li *ngIf="!simulation.jobOffer">
                    Aucune offre d'emploi associée: <br> 
                    <a routerLink="{{'/home/offre/' + simulation.jobOffer.id }}">{{simulation.jobOffer.name}}</a>
                </li> -->
                <li *ngIf="simulation.training">
                    Proposition de formation: <br>
                    <a routerLink="{{'/home/formation/' + simulation.training.id }}">{{simulation.training.name}}</a>
                </li>
                </ul>
            </div>
        </mat-card-content>

        <div class="progressBarDiv" *ngIf="!isLoaded">
            <mat-spinner class="loading_mat_spinner" color="primary" ></mat-spinner>
        </div>
    </mat-card>
</div>

