<div class="card_dashboard mat-elevation-z4">
    <mat-card >
        <mat-card-header id="title">
            <mat-card-title id="title_police">Candidature </mat-card-title>
        </mat-card-header>
        <hr>
        <mat-card-content fxLayout="column" fxLayoutAlign="space-between start" class="tailleCard">
            <div *ngFor="let post of listCandidature" fxLayout="row" fxFlex="100" class="candidature">
                <p class="Company" fxLayout="row" fxLayoutAlign="start start" fxFlex="30"> {{post._company}}</p>
                <p class="Job" fxLayout="row" fxLayoutAlign="start start" fxFlex="30"> {{post.job.name}} </p>

                <span fxFlex="20" fxLayout="row" fxLayoutAlign="start start" class="icon-candidature">
                    <span *ngIf ="post.status ==='validate'">
                        <mat-icon aria-hidden="false" aria-label="Example home icon">done</mat-icon>
                    </span>
                    <span *ngIf="post.status ==='reject'">
                            <mat-icon aria-hidden="false" aria-label="Example home icon">close</mat-icon>
                    </span>
                    <span *ngIf="post.status ==='progress'">
                        <mat-icon aria-hidden="false" aria-label="Example home icon">hourglass_empty</mat-icon>
                    </span>
                </span>
                <a fxFlex="20" fxLayout="row" fxLayoutAlign="start start" href="{{post.details}}" target="_blank"> <button mat-button color="primary" id="bouton-details-candidature">Details</button>
                </a>
            </div>
        </mat-card-content>
    </mat-card>
</div>
