mat-card{
  min-height: 500px;
}

@media screen and (max-width: 650px){
 .Company{
     display: none !important;
 }
    .candidature{
        justify-content: space-around;
    }

}
.candidature{
    justify-content: space-around;
}
