.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.candidature {
    padding-top: 10px;
}

.Company,
.Job {
    margin-left: 40px;
    width:100px;
}
.card_dashboard{
    padding: 0;
    margin-bottom: 40px;
    margin-top: 20px;
  }
mat-card{
    min-height: 515px;
}
.icon-candidature{
    margin-left: 30px;
}
#bouton-details-candidature{
    margin-left: 20px;
}
