.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.candidature {
    padding-top: 10px;
}

.Company,
.Job {
    margin-left: 40px;
}
.card_dashboard{
    padding: 0;
    margin-bottom: 40px;
    margin-top: 20px;
  }
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  margin: 20px;
}

#btn_ajouter {
    width: 100px;
}