<div class="container" fxLayoutAlign="center center">
    <mat-card class="container-card">
        <mat-card-header id="title">
            <mat-card-title id="title_police">Simulation</mat-card-title>
        </mat-card-header>
        <hr>
        <mat-card-content>
            <div fxLayoutAlign="center center">
                <div class="mat-elevation-z3 class-width"> <!--table-container-->
                    <div class="row bloc-text1">
                        <p> Objectif de carrière : {{goal}}<br>
                            Nous avons trouvé pour vous une simulation composée de {{ this.data[0].exerciceSet.length }} exercice(s) :</p>
                        <ul>
                            <li *ngFor="let questionnaire of this.data[0].exerciceSet;  let index = index;">Questionnaire : {{ questionnaire.name }} ({{ questionnaire.questions.length }} questions)</li>
                        </ul>
                    </div>
                    <div class="row bloc-text2">
                        <div>
                            <p class="text-align-btn">En fin de simulation, le serveur vous proposera une offre en adéquation avec vos résultats.</p></div>
                        <div class='column btn-commencer' fxFlex="20"> <!-- id="btn_ajouter"-->
                            <button routerLink="/home/questionnaire" type="submit" mat-raised-button color="primary" class="">Commencer</button>
                        </div>
                    </div>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>
