//card-simulation
.class-width {
  min-width: 100%
}
//bloc text
.bloc-text1 {
  padding: 30px;
}
.bloc-text2 {
  margin-top: 0px; padding-left: 30px; padding-right: 30px;padding-bottom: 30px;
}
.text-align-btn {
  margin-top: 9px;
}
//btn
.btn-commencer {
  margin-left: 20px;
  text-align: end;
}
