<div class="container_dashboard shadow-box">
    <div  class="card_dashboard mat-elevation-z4">
    <mat-card class="cardActu" >
        <mat-card-header  id="title">
            <mat-card-title  id="title_police">Fil d'actualités</mat-card-title>
        </mat-card-header>
        <hr>
        <mat-card-content>
            <ng-container *ngFor="let post of listPosts">
                <mat-card class="tailleCard mat-elevation-z1">
                    <mat-card-content fxLayout="row" fxLayoutAlign="space-between center">
                        <p class="margePactu" fxFlex="90">{{post.actu}}</p>
                        <span fxFlex="5"></span>
                        <a href="{{post.lien}}" target="_blank" fxFlex="5" ><p class="margePactu">Lien</p></a>
                    </mat-card-content>
                </mat-card>
            </ng-container>
        </mat-card-content>
    </mat-card>
</div>
</div>
