<div class="formation-list-container">
    <mat-card>
        <mat-card-header id="title">
            <div fxLayout="row" fxLayout.xs="column">
                <div fxFlex="70%">
                    <mat-card-title id="title_police" layout-align="start center">Offres d'emploi</mat-card-title>
                </div>
                <div fxFlex="30%">
                    <div class="formSearch">
                        <form #f="ngForm" (ngsubmit)="searchByNameOrCompany(f)" layout-align-xs="center center">
                            <mat-form-field appearance="legacy" class="offreRecherche" >
                                <mat-label>Recherche</mat-label>
                                <input matInput (keydown)="searchByNameOrCompany(f)" name="keyword" ngModel
                                    placeholder="Entrer un nom de poste ou d'entreprise">
                                <mat-icon matSuffix>search</mat-icon>
                            </mat-form-field>
                        </form>
                    </div>
                </div>
            </div>
            <hr>
        </mat-card-header>
        <mat-card-content>
            <div class="mat-elevation-z1 table-container">
                <table mat-table [dataSource]="dataSource" (matSortChange)="change($event)" matSort>
                    <!-- Nom Column -->
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Nom</th>
                        <td mat-cell *matCellDef="let element" class="nomOffre"> {{element.name}} </td>
                    </ng-container>
                    <!-- Entreprise Column -->
                    <ng-container matColumnDef="company" class="noneOffre">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="noneOffre">Entreprise</th>
                        <td mat-cell *matCellDef="let element" class="noneOffre"> {{element.company}} </td>
                    </ng-container>
                    <!-- Type Column -->
                    <ng-container matColumnDef="type">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="noneType">Type</th>
                        <td mat-cell *matCellDef="let element" class="noneType"> {{element.type}} </td>
                    </ng-container>
                    <!-- Commence Column -->
                    <ng-container matColumnDef="dateBeg" class="noneOffre">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="noneOffre">Commence</th>
                        <td mat-cell *matCellDef="let element" class="noneOffre">
                            {{element.dateBeg |date: "dd/MM/yyyy"}} </td>
                    </ng-container>
                    <!-- Mise en ligne Column -->
                    <ng-container matColumnDef="dateUpload" class="noneOffre">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="noneOffre">Mise en ligne</th>
                        <td mat-cell *matCellDef="let element" class="noneOffre">
                            {{element.dateUpload |date: "dd/MM/yyyy"}} </td>
                    </ng-container>
                    <!-- Statut Column -->
                    <ng-container matColumnDef="statut">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Statut</th>
                        <td mat-cell *matCellDef="let application">
                            <mat-icon aria-hidden="false" aria-label="Example home icon">hourglass_empty</mat-icon>
                        </td>
                        <!--
                            <td mat-cell *matCellDef="let application">
                                <span *ngIf="{{findApplicationJob(element.id}}">
                                    <span *ngIf ="findApplicationJob({{element.id}})==='validate'">
                                        <mat-icon aria-hidden="false" aria-label="Example home icon">done</mat-icon>
                                    </span>
                                    <span *ngIf="cs.recupererCandidature(element.id, listCandidature).status ==='reject'">
                                        <mat-icon aria-hidden="false" aria-label="Example home icon">close</mat-icon>
                                    </span>
                                    <span *ngIf="cs.recupererCandidature(element.id, listCandidature).status ==='progress'">
                                        <mat-icon aria-hidden="false" aria-label="Example home icon">hourglass_empty</mat-icon>
                                    </span>
                                </span>
                            </td> -->
                    </ng-container>
                    <!-- Plus d'info Column -->
                    <ng-container matColumnDef="plus_info">
                        <th mat-header-cell *matHeaderCellDef> Détails</th>
                        <td mat-cell *matCellDef="let element"> <a routerLink="{{'/home/offre/' + element.id }}"
                                title="Plus d'info">
                                <mat-icon>visibility</mat-icon>
                            </a> </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <mat-paginator 
                [pageSize]="pageSize"
                [pageSizeOptions]="pageSizeOptions" 
                (page)="change($event)"
                [hidePageSize]="hidePageSize" 
                [showFirstLastButtons]="showFirstLastButtons" 
                [length]="length"
                class="mat-paginator-container">
                </mat-paginator>
            </div>
        </mat-card-content>
    </mat-card>
</div>