<div class="formation-list-container">
    <mat-card>
        <mat-card-header id="title">
            <mat-card-title id="title_police">Offres d'emploi</mat-card-title>
        </mat-card-header>
        <hr>
        <mat-card-content>
            <div fxLayoutAlign="center center">
                <div class="mat-elevation-z3 table-container">
                    <table mat-table [dataSource]="dataSource" matSort style="width: 100%">

                        <!-- Nom Column -->
                        <ng-container matColumnDef="nom">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Nom</th>
                            <td mat-cell *matCellDef="let element"> {{element.nom}} </td>
                        </ng-container>

                        <!-- Entreprise Column -->
                        <ng-container matColumnDef="entreprise">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Entreprise</th>
                            <td mat-cell *matCellDef="let element"> {{element.entreprise}} </td>
                        </ng-container>

                        <!-- Type Column -->
                        <ng-container matColumnDef="type">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Type</th>
                            <td mat-cell *matCellDef="let element"> {{element.type}} </td>
                        </ng-container>

                        <!-- Commence Column -->
                        <ng-container matColumnDef="commence">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Commence</th>
                            <td mat-cell *matCellDef="let element"> {{element.commence}} </td>
                        </ng-container>

                        <!-- Mise en ligne Column -->
                        <ng-container matColumnDef="mise_en_ligne">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Mise en ligne</th>
                            <td mat-cell *matCellDef="let element"> {{element.mise_en_ligne}} </td>
                        </ng-container>

                        <!-- Plus d'info Column -->
                        <ng-container matColumnDef="plus_info">
                            <th mat-header-cell *matHeaderCellDef> Détails</th>
                            <td mat-cell *matCellDef="let element"> <a [routerLink]="['/home/offre/1']" title="Plus d'info">Détails</a> </td> <!--<span class="material-icons btnIcon">zoom_in</span>-->
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>

                    <mat-paginator [pageSizeOptions]="[5, 10]" showFirstLastButtons></mat-paginator>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>
