table {
  width: 100%;
  min-width: 600px;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.btnIcon {
  color: black;
  margin-top: 7px;
}

.table-container {
  overflow: auto;
}

.mat-header-cell {
  flex-direction: column;
  justify-content: center;
}

.mat-card-content {
  margin: 3rem;
}

.mat-form-field {
  width: 300px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}