.idea/
.DS_Store
.metadata
.project

skillful_network_server/.idea/
skillful_network_server/.DS_Store
skillful_network_server/target/
skillful_network_server/.classpath
skillful_network_server/.project
skillful_network_server/.settings

skillful_network_client/node_modules/
skillful_network_client/.DS_Store
skillful_network_client/.idea/
skillful_network_client/dist/

*/**/*.iml

### Eclipse ###
skillful_network_server/.metadata
skillful_network_server/bin/
skillful_network_server/tmp/
skillful_network_server/*.tmp
skillful_network_server/*.bak
skillful_network_server/*.swp
skillful_network_server/*~.nib
skillful_network_server/local.properties
skillful_network_server/.settings/
skillful_network_server/.loadpath
skillful_network_server/.recommenders

skillful_network_server/.externalToolBuilders/

skillful_network_server/*.launch

skillful_network_server/*.pydevproject

skillful_network_server/.cproject

skillful_network_server/.factorypath

skillful_network_server/.buildpath

skillful_network_server/.target

skillful_network_server/.tern-project

skillful_network_server/.texlipse

skillful_network_server/.springBeans

skillful_network_server/.recommenders/

skillful_network_server/.cache-main
skillful_network_server/.scala_dependencies
skillful_network_server/.worksheet

# End of https://www.gitignore.io/api/eclipse


# Created by https://www.gitignore.io/api/intellij
# Edit at https://www.gitignore.io/?templates=intellij

### Intellij ###
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and WebStorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# User-specific stuff
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf

# Generated files
.idea/**/contentModel.xml

# Sensitive or high-churn files
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/dbnavigator.xml

# Gradle
.idea/**/gradle.xml
.idea/**/libraries

# Gradle and Maven with auto-import
# When using Gradle or Maven with auto-import, you should exclude module files,
# since they will be recreated, and may cause churn.  Uncomment if using
# auto-import.
# .idea/modules.xml
# .idea/*.iml
# .idea/modules
# *.iml
# *.ipr

# CMake
cmake-build-*/

# Mongo Explorer plugin
.idea/**/mongoSettings.xml

# File-based project format
*.iws

# IntelliJ
out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Cursive Clojure plugin
.idea/replstate.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

# Editor-based Rest Client
.idea/httpRequests

# Android studio 3.1+ serialized cache file
.idea/caches/build_file_checksums.ser

### Intellij Patch ###
# Comment Reason: https://github.com/joeblau/gitignore.io/issues/186#issuecomment-215987721

# *.iml
# modules.xml
# .idea/misc.xml
# *.ipr

# Sonarlint plugin
.idea/**/sonarlint/

# SonarQube Plugin
.idea/**/sonarIssues.xml

# Markdown Navigator plugin
.idea/**/markdown-navigator.xml
.idea/**/markdown-navigator/

# End of https://www.gitignore.io/api/intellij


# Created by https://www.gitignore.io/api/angular
# Edit at https://www.gitignore.io/?templates=angular

### Angular ###
## Angular ##
# compiled output
skillful_network_client/dist/
skillful_network_client/tmp/
skillful_network_client/app/**/*.js
skillful_network_client/app/**/*.js.map

# dependencies
skillful_network_client/node_modules/
skillful_network_client/bower_components/

# misc
skillful_network_client/.sass-cache/
skillful_network_client/connect.lock/
skillful_network_client/coverage/
skillful_network_client/libpeerconnection.log/
skillful_network_client/npm-debug.log
skillful_network_client/testem.log
skillful_network_client/typings/

# e2e
skillful_network_client/e2e/*.js
skillful_network_client/e2e/*.map

#System Files
.DS_Store/
skillful_network_client/.DS_Store/

# End of https://www.gitignore.io/api/angular
skillful_network_server/.sts4-cache/classpath-data.json