.idea/
.DS_Store

skillful_network_server/.idea/
skillful_network_server/.DS_Store
skillful_network_server/target/
skillful_network_server/.classpath
skillful_network_server/.project
skillful_network_server/.settings

skillful_network_client/node_modules/
skillful_network_client/.DS_Store
skillful_network_client/.idea/

*/**/*.iml


