<div class="card_dashboard mat-elevation-z4">
    <mat-card >
        <mat-card-header  id="title">
            <mat-card-title  id="title_police">Informations</mat-card-title>
        </mat-card-header>
        <hr>
        <mat-card-content>
            <div>
                <p *ngIf="choixListe=='emploi'">Entreprise: {{post.company}}</p>
                <p *ngIf="choixListe=='formation'">Entreprise: {{post.organisation}}</p>
                <p>Description: {{post.description}}</p>
                <p>Mot-clés: <span *ngFor="let keyword of post.keywords;let isLast = last">{{keyword.name}}<span *ngIf ="!isLast">, </span><span *ngIf = "isLast">.</span></span></p>
                <p>Risque: {{myMap[post.risk]}}.</p>
                <p>Complexité: {{myMap2[post.complexity]}}.</p>

            </div>
        </mat-card-content>
    </mat-card>
</div>
