
img {
    margin-top: 7px;
    width: 90%;
    border: 3px solid #f5f5f5;
    border-radius:50%;
    margin-left: 1.7%;
}
.iconsProfile{

  justify-content: center;
  color: white;
  margin-top: 20px;
}
.menuProfile{
  //margin-top: 20px;  
  display: flex;
  justify-content: center;
  font-size: 2em;


}
 .divIcons{
   display: none;
 }
.photoProfile, .lienProfile{
      display: block;
      border-radius: 50%;
      margin-bottom: 25px;
}
.lienProfile{
  margin-left: 3.5%;
}
    
.lienProfile a{

    text-decoration: none;
    margin: auto;
    font-size: 1.1rem;
    font-style: italic;
    color: white;

}

.border-profile{
   display: flex;
   justify-content: center; 
}
@media screen and (max-width: 961px){
  .divIcons, a{
    display: block;
    margin: auto;
    margin-bottom: 30px;
    text-decoration: none;
  }
  .photoProfile, .lienProfile{
    display: none;
    margin-bottom: 0;
  }
}
