<div class="menuprofile">
    <div class="lienProfile"  fxLayout="column">
        <div fxlayout="row" fxLayoutAlign="center center" class="photoProfile container profilePhoto">
            <!--<img [src]="userService.userLogged.photoProfile" alt="Avatar" class="image" />
            <div class="middle">
                <div class="text" cursor="none" (click)="openModalProfile()" ><strong><i>Mise à jour </i></strong> </div>
            </div>-->
            <img [src]="userService.userLogged.photoProfile" alt="Avatar" class="image effetImage">
            <div class="overlay middle">
                <input type="file">
                <p class="text upIMG" cursor="none" (click)="openModalProfile()"><i class="material-icons appPhoto" matTooltip="Ajouter une image" matTooltipPosition="below">
                    add_a_photo
                </i></p>
            </div>
        </div>
        <div class="vertical-menu">
            <p><a [routerLink]="['/home/profile']" class="lienProfile" >Profil</a></p>
            <p><a [routerLink]="['/home']" class="lienProfile" >Candidatures</a></p>
            <p><a [routerLink]="['/home/users-list']" class="lienProfile">Utilisateurs</a></p>
            <p><a [routerLink]="['/home/job-offer-list']" class="lienProfile" >Offres d'emploi</a></p>
            <p><a [routerLink]="['/home/formation-list']" class="lienProfile" >Offres de formation</a></p>
            <p><a [routerLink]="['/home']" class="lienProfile">Contact</a></p>
        </div>
    </div>
</div>
<div class="divIcons" fxLayout="column">
    <a [routerLink]="['/home/profile']"><i class="divIcons material-icons iconsProfile" matTooltip="Profil" matTooltipPosition="right">
        account_circle
    </i></a>
    <a [routerLink]="['/home']"><i class="divIcons material-icons iconsProfile" matTooltip="Candidature" matTooltipPosition="right">
        create
    </i></a>
    <a [routerLink]="['/home/users-list']"><i class="divIcons material-icons iconsProfile" matTooltip="Utilisateurs" matTooltipPosition="right">
        settings_ethernet
    </i></a>
    <a [routerLink]="['/home/job-offer-list']"><i class="divIcons material-icons iconsProfile" matTooltip="Offres d'emploi" matTooltipPosition="right">
        file_copy
    </i></a>
    <a [routerLink]="['/home/formation-list']"><i class="divIcons material-icons iconsProfile" matTooltip="Offres de formation" matTooltipPosition="right">
        menu_book
    </i></a>
    <a [routerLink]="['/']"><i class="divIcons material-icons iconsProfile" matTooltip="Contact" matTooltipPosition="right">
        mail
    </i></a>
</div>
