
img {
    margin-top: 7px;
    width: 150px;
    height: 150px; 
    border: 3px solid #f5f5f5;
}

.menuProfile{
  margin-left: 50px;
  text-align: center ;
  justify-items: center;
  
}
 
.photoProfile{
    display: flex;
    
    
}

.photoProfile a{
    text-decoration: none;
    margin:auto;
}