<div class="menuprofile">
    
    <div class="photoProfile" fxLayout="column">
        <div class="photoProfile">
            <img [src]="user.photoProfile">
        </div>
        <p><a href="https://www.google.com/" target="_blank">Profil</a></p>
     
        <p><a href="https://www.google.com/" target="_blank">Candidatures</a></p>
        <p><a href="https://www.google.com/" target="_blank">Offres d'emploi</a></p>
        <p><a href="https://www.google.com/" target="_blank">Offres de formation</a></p>
        <p><a href="https://www.google.com/" target="_blank">Contact</a></p>
    </div>
    
</div>