<div class="container">
    <mat-card class="connectionForm">
        <div class="logo">
            <img alt="logo université" class="logoUniversite" fxLayoutAlign="center center"
                 src="assets/pictures/logo_universite_300x76.png">
        </div>
        <mat-card-title fxLayoutAlign="center center">Connexion&nbsp;<i class="material-icons">
            perm_identity
        </i></mat-card-title>
        <mat-tab-group dynamicHeight fxLayout="column" fxLayoutAlign="center center">
            <mat-tab label="Connexion">
                <table cellspacing="10" style="width: 60%">
                    <tr>
                        <td>
                            <form (submit)="login()" [formGroup]="loginFormGroup" fxLayout="column"
                                  fxLayoutAlign="center center" novalidate>
                                <mat-form-field>
                                    <mat-label>Email</mat-label>
                                    <input class="form-control" formControlName="emailLogin" matInput
                                           placeholder="Votre email">
                                    <mat-icon matSuffix>email</mat-icon>
                                    <mat-error *ngIf="emailControlLogin.errors && (emailControlLogin.dirty || emailControlLogin.touched)"
                                               class="form-control-feedback">
                                        <span *ngIf="emailControlLogin.errors.required">Entrez votre email</span>
                                        <span *ngIf="emailControlLogin.errors.pattern">email non validé</span>
                                    </mat-error>
                                </mat-form-field>
                                <mat-form-field>
                                    <mat-label>Mot de passe</mat-label>
                                    <input class="form-control" formControlName="password" matInput
                                           placeholder="Votre mot de passe" type="password">
                                    <mat-icon matSuffix>lock</mat-icon>
                                    <mat-error *ngIf="passwordControlLogin.errors && (passwordControlLogin.dirty || passwordControlLogin.touched)"
                                               class="form-control-feedback">
                                        <span *ngIf="passwordControlLogin.errors.required">Mot de passe est obligatoire</span>
                                        <span *ngIf="passwordControlLogin.errors.minlength">Mot de passe doit avoir 8 charactère minimum</span>
                                    </mat-error>
                                </mat-form-field>
                                <button [disabled]="loginFormGroup.invalid" color="primary" mat-raised-button
                                        type="submit">Connexion
                                </button>
                            </form>
                        </td>
                    </tr>
                </table>
            </mat-tab>
            <mat-tab label="Inscription">
                <table cellspacing="10" style="width: 50%">
                    <tr>
                        <td>
                            <form #inscriptionForm="ngForm" (submit)="register()"
                                  *ngIf="!doDisplayCodeVerif" [formGroup]="inscriptionFormGroup" fxLayout="column"
                                  fxLayoutAlign="center center" novalidate>
                                <mat-form-field>
                                    <mat-label>Email</mat-label>
                                    <input formControlName="emailInscription" matInput placeholder="Entrez votre Email"
                                           type="email">
                                    <mat-icon matSuffix>email</mat-icon>
                                    <mat-error *ngIf="emailControlInscription.errors && (emailControlInscription.dirty || emailControlInscription.touched)"
                                               class="form-control-feedback">
                                        <span *ngIf="emailControlInscription.errors.required">Entrez votre email</span>
                                        <span *ngIf="emailControlInscription.errors.pattern">email non validé</span>
                                    </mat-error>
                                </mat-form-field>
                                <button [disabled]="inscriptionFormGroup.invalid || inscriptionForm.submitted"
                                        color="primary" mat-raised-button type="submit">Envoyer
                                </button>
                            </form>

                            <form (ngSubmit)="codeValidation()" *ngIf="doDisplayCodeVerif" [formGroup]='codeForm'
                                  fxLayout="column" fxLayoutAlign="center center">
                                <!-- TOOLTIP renvoi code confirmation-->

                                <span #tooltip="matTooltip"
                                      matTooltip="Votre nouveau code de confirmation a bien été envoyé "
                                      matTooltipClass="custom-tooltip-blue"
                                      matTooltipHideDelay="500"
                                      matTooltipPosition="above"
                                      matTooltipShowDelay="300">
                                </span>

                                <!--FIN TOOLTIP-->
                                <mat-form-field>
                                    <mat-label>Code de confirmation</mat-label>
                                    <input formControlName="code" matInput maxlength="10" type="password"/>
                                    <mat-error *ngIf="codeForm.get('code').hasError && (codeForm.get('code').dirty || codeForm.get('code').touched) "
                                               class="form-control-feedback">
                                        <span *ngIf="codeForm.get('code').hasError('required')">Code est obligatoire</span>
                                        <span *ngIf="codeForm.get('code').hasError('minlength')">Code doit avoir 10 charactères</span>

                                    </mat-error>
                                </mat-form-field>
                                <!-- bouton de renvoi de code de confirmation -->
                                <button (click)="newCode();tooltip.show()" class="button-code-return" mat-button>
                                    Recevoir à nouveau un code de confirmation
                                </button>
                                <button [disabled]="codeForm.invalid" color="primary" mat-raised-button type="submit">
                                    Valider
                                </button>
                            </form>
                        </td>
                    </tr>
                </table>
            </mat-tab>
        </mat-tab-group>
    </mat-card>
</div>
