button{
  height: 50px;
}
.card_profil{
  padding: 0;
  margin-bottom: 40px;
  margin-top: 20px;
}

.slop-display-container {
    width: 100%;

    border-radius: 3px;

}
.card_dashboard{
  padding: 0;
  margin-bottom: 40px;
  margin-top: 20px;
}
.row {
display: flex;
flex-direction: row;
flex-wrap: wrap;
width: 100%;
}
.column {
display: flex;
flex-direction: column;
flex-basis: 100%;
flex: 1;
margin: 15px;
}

#btn_ajouter {
  width: 100px;
}

