<div class="card_profil mat-elevation-z4">
    <div class='row'>
        <mat-card class="slop-display-container">
            <mat-card-header id="title">
                <mat-card-title id="title_police">Modifier le mot de passe</mat-card-title>
            </mat-card-header>
            <hr>
            <mat-chip-list >
                <div class='column' id="btn_ajouter" fxLayout="column" fxLayoutAlign="center center">
                    <button [routerLink]="['/password']" mat-raised-button color="primary">Modifier</button>
                </div>  
            </mat-chip-list>
        </mat-card>
    </div>   
</div>

