<div class="card_profil">
    <div class='row'>
        <mat-card class="slop-display-container">
            <mat-card-header id="title">
                <mat-card-title id="title_police">Modifier le mot de passe</mat-card-title>
            </mat-card-header>
            <hr>
            <div class="jarre">
                <mat-card-content class="btn_ajouter">
                    <button [routerLink]="['/password']" mat-raised-button color="primary">Modifier</button>
                </mat-card-content>
            </div>
        </mat-card>
    </div>   
</div>

