<section class="container">
  <mat-card class="passwordForgottenForm">
    <div class="logo">
      <img fxLayoutAlign="center center" class="logoUniversite" src="assets/pictures/Logo_complet.png" alt="logo université">
    </div>
    <mat-card-title fxLayoutAlign="center" style="width: 125%" >Mot de passe oublié ?&nbsp;<i class="material-icons">
      lock
    </i></mat-card-title>
    <form *ngIf="!doDisplayCodeVerif" [formGroup]="FormGroup" #Form="ngForm" (submit)="register()"
      fxLayout="column" fxLayoutAlign="center center" novalidate>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input formControlName="email" matInput type="email" placeholder="Entrez votre Email">
        <mat-icon matSuffix>email</mat-icon>
        <mat-error class="form-control-feedback"
          *ngIf="emailControl.errors && (emailControl.dirty || emailControl.touched)">
          <span *ngIf="emailControl.errors.required">Entrez votre email</span>
          <span *ngIf="emailControl.errors.pattern">email non validé</span>
        </mat-error>
      </mat-form-field>
      <button [disabled]="FormGroup.invalid || Form.submitted" type="submit" mat-raised-button
        color="primary">Envoyer</button>
    </form>
    <form *ngIf="doDisplayCodeVerif" [formGroup]='codeForm' (ngSubmit)="codeValidation()" fxLayout="column"
      fxLayoutAlign="center center">
      <!-- TOOLTIP renvoi code confirmation-->
      <span #tooltip="matTooltip" matTooltip="Votre nouveau code de confirmation a bien été envoyé "
        matTooltipClass="custom-tooltip-blue" matTooltipHideDelay="500" matTooltipPosition="above"
        matTooltipShowDelay="300">
      </span>
      <!--FIN TOOLTIP-->
      <div id="message-guide">
        <p> Veuillez verifier votre boite mail pour récupérer votre code de confirmation</p>
      </div>
      <mat-form-field>
       <mat-label>Code de confirmation</mat-label>
        <input type="password" maxlength="10" matInput formControlName="code" />
        <mat-error class="form-control-feedback"
          *ngIf="codeForm.get('code').hasError && (codeForm.get('code').dirty || codeForm.get('code').touched) ">
          <span *ngIf="codeForm.get('code').hasError('required')">Code est obligatoire</span>
          <span *ngIf="codeForm.get('code').hasError('minlength')">Code doit avoir 10 charactères</span>
        </mat-error>
      </mat-form-field>
      <!-- bouton de renvoi de code de confirmation -->
      <button type="button" (click)="register();tooltip.show()" class="button-code-return" mat-button>Recevoir à
        nouveau un code de confirmation
      </button>
      <button type="submit" mat-raised-button [disabled]="codeForm.invalid" color="primary">Valider</button>
     
    </form>
    <div>
      <a class="motDePasseOubliePageLink" routerLink="/login"> Retour à la page de connexion</a>
    </div>
  </mat-card>
</section>