
.container{
  top: 0px;
  position: absolute;
  width: 100%;
  background-color:rgb(229, 230, 232);
}
.passwordForgottenForm{
  max-width: 20%;
  min-height: 20em;
  padding: 5rem;
  background-color: #fff;
  margin: 5em auto;
}
.mat-form-field{
  width: 300px;
  margin-bottom: 1.5em;
  margin-top: 1em;
}
.mat-card-title{
  margin-bottom: 1em;
  color: grey;
  padding: 2rem;
}
button{
    margin-top: 2em;
    background-color: #FF6550;
    color: #fff;
}
.logo{
    width: 100%;
}
img.logoUniversite{
    max-width: 99%;
    
}
i.material-icons{
    color:#ff6550;
 }
  /* Boutons et tooltip renvoi newcode*/
.button-code-return {
    margin-top: 1.2em;
    text-decoration: underline dotted;
    background-color: rgba(168, 168, 168, 0);
    color: #0000ff;
}
  
.button-code-return:hover {
    margin-top: 1.2em;
    background-color: rgba(158, 158, 158, 0.2);
    color: #0000ff;
}
  
  ::ng-deep .custom-tooltip-blue {
    font-size: 15px;
    max-width: unset !important;
    text-align: center;
    display: block;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
    background: #1a7ea2;
    padding: 20px;
    transform: translateX(-20%) scale(0.5);
    transition: transform 4s ease-in-out;
    transform-origin: top;
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 2px;
    color: white;
   }
  
  /* fin boutons tooltips*/
  @media only screen and (max-width: 1230px) {
   
    .passwordForgottenForm{
      max-width: 40%;
    }
    .mat-card-title{
      font-size: 20px;
      //min-width: 200px; // j'avais un problème pour avoir le texte centré sur ecran mobile (iphone5)
      //margin:auto;
      padding: 2rem;
    }
    .mat-card{
      width: 300px;
    }
  }
  
  @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  
    .mat-form-field {
      max-width: 250px; // Afin d'avoir le input qui reste dans le cartouche blanc, sur ecran mobile (iphone5)
    }
    ::ng-deep .custom-tooltip-blue {
      font-size: 11px;
      max-width: unset !important;
      text-align: center;
      display: block;
      box-shadow: 0 0 5px #000000b3;
      background-color:#1a7ea2;
      padding: 10px;
      transform: translateX(-20%) scale(0.5);
      transition: transform 4s ease-in-out;
      transform-origin: top;
      border: 1px solid rgba(0, 0, 0, .1);
      border-radius: 2px;
      color: white;
    }
  }
  #message-guide{
    background-color: #0480a2;
    border-radius: 5px 5px 5px 5px;
    padding-top: 10px;
    margin-top: 5px;
  }
  #message-guide p{
    color: white;
    text-align: center;
  }
  .motDePasseOubliePageLink{
    font-size: 13px;
    color: rgb(0, 119, 255);
    position: relative;
    top:4em;
    left:2.4em;    
  }
   .motDePasseOubliePageLink:hover{
    cursor: pointer;
    text-decoration: none;
  }