.zone{
  padding: 10px;
}
header{
  height: 150px;
}


@media screen and (min-width: 900px){
  .affichageDesk {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 0;

    overflow: hidden;
  }

  .zone1 {
    grid-area: 1 / 1 / 2 / 2;
  }
  .zone2 {
    grid-area: 1 / 2 / 2 / 3;
  }
  .zone3 {
    grid-area: 2 / 1 / 3 / 2;

  }
  .zone4 {
    grid-area: 3 / 1 / 4 / 2;
  }
  .zone5 {
    grid-area: 2 / 2 / 4 / 3;
  }

  .zone{
    padding: 20px;
  }

}
@media (max-width: 460px) {
  app-profile{


  }
.zone{
  margin: 0;
}
}

