<div fxLayout="row" fxLayout.lt-md="column" class="affichageDesk">

    <!--<div class="zone zone1"><app-fil-actualites></app-fil-actualites> </div>
    <div class="zone zone2">
        <div fxflex="30" style="flex: 1 1 30%; box-sizing: border-box; max-height: 30%;"><app-simulation ></app-simulation></div>
        <div fxflex="30" style="flex: 1 1 30%; box-sizing: border-box; max-height: 30%;"><app-candidature ></app-candidature></div>
        <div fxflex="30" style="flex: 1 1 30%; box-sizing: border-box; max-height: 30%;"><app-chat></app-chat></div>
    </div>-->

    <div fxLayout="column" fxFlex="50">
        <div class="zone zone1">
            <app-fil-actualites></app-fil-actualites>
        </div>
    </div>

    <div fxLayout="column" fxFlex="50">
        <div class="zone zone2">
            <app-simulation></app-simulation>
        </div>
        <div class="zone zone3">
            <app-candidature></app-candidature>
        </div>
        <div class="zone zone4">
            <app-chat></app-chat>
        </div>
    </div>
</div>
