<div class="card_dashboard mat-elevation-z4">
    <mat-card >
        <mat-card-header  id="title">
            <mat-card-title  id="title_police">Propositions de formations</mat-card-title>
        </mat-card-header>
        <hr>
        <mat-card-content>
            <div>
                <mat-list role="list">
                    <mat-list-item role="listitem">Développeur Fullstack</mat-list-item>
                    <mat-list-item role="listitem">Développeur Angular/Spring</mat-list-item>
                  </mat-list>
            </div>
        </mat-card-content>
    </mat-card>
</div>




