<mat-card-header id="title">
    <div fxLayout.gt-sm="column" fxFlex="100" class="modifCard">

        <mat-card-header id="title">
            <mat-card-title fxLayoutAlign="center center" id="montitre">Simulation</mat-card-title>
        </mat-card-header>

        <div class="container_user">
            <div class="zone zone1"><app-sim-information [simulation]="simulation"></app-sim-information></div>
            <div class="zone zone2"><app-sim-question-list [simulation]="simulation"></app-sim-question-list></div>
            <div class="zone zone3"><app-sim-job-offer-list [simulation]="simulation"></app-sim-job-offer-list></div>
            <div class="zone zone4"><app-sim-training-list [simulation]="simulation"></app-sim-training-list></div>
        </div>

    </div>
</mat-card-header>