<mat-card-header id="title">
    <mat-card-title fxLayoutAlign="center center" id="montitre">Simulation</mat-card-title>
</mat-card-header>
<div class="container_user">
    <div class="zone zone1"><app-sim-information></app-sim-information></div>
    <div class="zone zone2"><app-sim-question-list></app-sim-question-list></div>
    <div class="zone zone3"><app-sim-job-offer-list></app-sim-job-offer-list></div>
    <div class="zone zone4"><app-sim-training-list></app-sim-training-list></div>
</div>