#card-form-password{
 
    max-width: 35%;
    min-height: 40em;
    padding: 2rem;
    background-color: #fff;
    margin: 0em auto;

    box-shadow: 12px 12px 12px 12px rgba(0.2, 0.2, 0.2, 0.2);
    border-radius: 15px;
    
}
#icon{
    font-size: 70px;
    margin-top: 5px;
    margin-bottom: 40px;
    color: #005091;
}

.input-password{
    width:350px;
    margin-top: 20px;
    
}
.input-confirm-password{
    width:350px;
    margin-top: 30px;
}
#valid-button{
    margin-top: 30px;
    margin-left: 150px;
}
#titleform{
 font-size: 30px;
  color: #005091;
}
.div-principal{
    width: 100%;
    height: 100%;
    background-color: rgb(250,248,239);
    padding-top:50px;
}
@media screen and (max-width:1200px ){
    #card-form-password{
    background-color: rgb(250,248,239);
    box-shadow:none;
    border-radius:none;
    }
}
