

<mat-card id="card-form-password">
    <form [formGroup]="formPost" (ngSubmit)="onSubmit()" id="passwordform">
        <h1 id="titleform">Connexion</h1>
        <div class="example-container">
            <mat-form-field id="input1">
            <mat-label>Entrez votre mot de passe</mat-label>
            <input matInput [type]="hide1 ? 'password' : 'text'" formControlName="password">
            <button mat-icon-button matSuffix (click)="hide1 = !hide1" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" type="button">
            <mat-icon>{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="formPost.get('password').hasError('pattern')">
                Le mot de passe requiert au moins 8 caractères, une lettre majescule, une lettre minuscule et un nombre.
            </mat-error>
            </mat-form-field><br>

            <mat-form-field id="input2">
                <mat-label>Confirmer votre mot de passe</mat-label>
                <input matInput [type]="hide2 ? 'password' : 'text'" formControlName="confirmpassword"> 
                <button mat-icon-button matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" type="button">
                <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>


            <div class="example-button-row">
                <button mat-raised-button color="primary" [disabled]="formPost.invalid" id="validbutton">Valider</button>
            
            </div>
        </div>
    </form>
</mat-card>
    
