#card-form-password{
 
    max-width: 40%;
    min-height: 40em;
    padding: 2rem;
    background-color: #fff;
    margin: 3em auto;
    box-shadow: 12px 12px 12px 12px rgba(0.2, 0.2, 0.2, 0.2);
    border-radius: 15px;
    
}

.input-password{
    width:350px;
    margin-top: 20px;
    
}
.input-confirm-password{
    width:350px;
    margin-top: 30px;
}
#valid-button{
    margin-top: 30px;
    margin-left: 150px;
}
#titleform{
 font-size: 30px;
}
