
<section class="div-principal">
    <mat-card id="card-form-password" fxLayoutAlign="center center">
        <form [formGroup]="formPost" (ngSubmit)="onSubmit()" id="passwordform" fxLayout="column" fxLayoutAlign="center center">
            <mat-card-title fxLayoutAlign="center center" id="titleform">Création du mot de passe <i class="material-icons" id="icon">
                lock
            </i></mat-card-title>
            <!-- <h1 id="titleform">Création du mot de passe</h1> -->
            <div class="example-container">
                <mat-form-field class="input-password">
                    <mat-label>Entrez votre mot de passe</mat-label>
                    <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password">
                    <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword" type="button">
                    <mat-icon>{{hidePassword? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <!-- Affichage du message d'erreur si l'input ne respecte pas le pattern -->
                    <mat-error class="form-control-feedback" *ngIf="formPost.get('password').hasError('pattern') && formPost.get('password').touched">
                        <span>Min.8 caractères dont 1 majuscule, 1 miniscule et 1 chiffre.</span>
                    </mat-error>
                </mat-form-field><br>

                <mat-form-field class="input-confirm-password">
                    <mat-label>Confirmer votre mot de passe</mat-label>
                    <input matInput [type]="hideConfirmPassword ? 'password' : 'text'" formControlName="confirmPassword"> 
                    <button mat-icon-button matSuffix (click)="hideConfirmPassword = !hideConfirmPassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideConfirmPassword" type="button">
                    <mat-icon>{{hideConfirmPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                     <!-- Affichage du message d'erreur si l'input ne respecte pas le pattern -->
                    <mat-error *ngIf="formPost.get('confirmPassword').hasError('pattern') && formPost.get('confirmPassword').touched">
                       <span>Min.8 caractères dont 1 majuscule, 1 miniscule et 1 chiffre.</span>
                    </mat-error>
                </mat-form-field>

                <div class="example-button-row">
                    <!-- On désactive le bouton si le formulaire n'est pas bien rempli -->
                    <button mat-raised-button color="primary" [disabled]="formPost.invalid" id="valid-button">Valider</button>
                </div>
                <!-- Affichage du message si les deux mots de passe ne sont pas identiques -->
                <mat-error *ngIf="formPost.hasError('notSame')">
                   <span> Les deux mots de passe doivent être identiques.</span>
                </mat-error>
            </div>
        </form>
    </mat-card>
</section>
    
