
<form [formGroup]="formPost" (ngSubmit)="onSubmit()">
    <div class="example-container">
        <mat-form-field appearance="fill">
        <mat-label>Entrez votre mot de passe</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="formPost.get('password').hasError('minlength')">
            Le mot de passe requiert au moins 8 caractères, une lettre majescule, une lettre minuscule et un nombre.
        </mat-error>
        </mat-form-field><br>

        <mat-form-field appearance="fill">
            <mat-label>Confirmer votre mot de passe</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" formControlName="confirmpassword"> 
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>


        <div class="example-button-row">
            <button mat-raised-button color="primary" [disabled]="formPost.invalid">Valider</button>
        
        </div>
    </div>
</form>
    
