<table mat-table [dataSource]="dataSource" matSort matSortActive="name" matSortStart="asc" style="width: 100%">
    <div *ngIf="entityIn == 'training'">
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header='name' (click)="sortHandler()">Nom TRAINING</th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
        
        <ng-container matColumnDef="organisation">
            <th mat-header-cell *matHeaderCellDef mat-sort-header (click)="sortHandler()">Organisation</th>
            <td mat-cell *matCellDef="let element"> {{element.organisation}} </td>
        </ng-container>

        <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef mat-sort-header (click)="sortHandler()">Description</th>
            <td mat-cell *matCellDef="let element">{{element.description}}</td>
        </ng-container>
    
        <ng-container matColumnDef="financer">
            <th mat-header-cell *matHeaderCellDef mat-sort-header (click)="sortHandler()">Financer</th>
            <td mat-cell *matCellDef="let element"> {{element.financer}}</td>
        </ng-container>

        <ng-container matColumnDef="dateBeg">
            <th mat-header-cell *matHeaderCellDef mat-sort-header (click)="sortHandler()">Date du début</th>
            <td mat-cell *matCellDef="let element"> {{element.dateBeg| date: 'dd-MM-yyyy' }} </td>
        </ng-container>
        
        <ng-container matColumnDef="dateEnd">
            <th mat-header-cell *matHeaderCellDef mat-sort-header (click)="sortHandler()">date fin</th>
            <td mat-cell *matCellDef="let element"> {{element.dateEnd| date: 'dd-MM-yyyy' }} </td>
        </ng-container>
        
        <ng-container matColumnDef="durationHours">
            <th mat-header-cell *matHeaderCellDef mat-sort-header (click)="sortHandler()">durée</th>
            <td mat-cell *matCellDef="let element"> {{element.durationHours}} </td>
        </ng-container>
        
        <ng-container matColumnDef="plus_info">
            <th  mat-header-cell *matHeaderCellDef > Détails</th>
            <td mat-cell *matCellDef="let element"> <a routerLink="{{'/home/offre/' + element.id }}" title="Plus d'info"><mat-icon >visibility</mat-icon> </a> </td>
        </ng-container>
    </div>

    <div *ngIf="entityIn == 'job'">
        <!-- Nom Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header='name' (click)="sortHandler()">Nom JOB</th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="company">
            <th mat-header-cell *matHeaderCellDef mat-sort-header (click)="sortHandler()">Organisation</th>
            <td mat-cell *matCellDef="let element"> {{element.company}} </td>
        </ng-container>

        <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef mat-sort-header (click)="sortHandler()">type</th>
            <td mat-cell *matCellDef="let element">{{element.type}}</td>
        </ng-container>
    
        <ng-container matColumnDef="dateBeg">
            <th mat-header-cell *matHeaderCellDef mat-sort-header (click)="sortHandler()">dateBeg</th>
            <td mat-cell *matCellDef="let element"> {{element.dateBeg}}</td>
        </ng-container>
    
        <ng-container matColumnDef="dateUpload">
            <th mat-header-cell *matHeaderCellDef mat-sort-header (click)="sortHandler()"> dateUpload</th>
            <td mat-cell *matCellDef="let element"> {{element.dateUpload| date: 'dd-MM-yyyy' }} </td>
        </ng-container>
        
        <ng-container matColumnDef="statut">
            <th mat-header-cell *matHeaderCellDef mat-sort-header (click)="sortHandler()">statut</th>
            <td mat-cell *matCellDef="let element"> {{element.statut| date: 'dd-MM-yyyy' }} </td>
        </ng-container>
        
        <ng-container matColumnDef="plus_info">
            <th  mat-header-cell *matHeaderCellDef > Détails</th>
            <td mat-cell *matCellDef="let element"> <a routerLink="{{'/home/offre/' + element.id }}" title="Plus d'info"><mat-icon >visibility</mat-icon> </a> </td>
        </ng-container>
    </div>

    <div *ngIf="entityIn == 'user'">
        <ng-container matColumnDef="firstName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header='firstName' (click)="sortHandler()">Nom USER</th>
            <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
        </ng-container>
        
        <ng-container matColumnDef="lastName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header (click)="sortHandler()">Prénom</th>
            <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
        </ng-container>

        <ng-container matColumnDef="birthDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header (click)="sortHandler()">Date de naissance</th>
            <td mat-cell *matCellDef="let element">{{element.birthDate}}</td>
        </ng-container>
        
        <ng-container matColumnDef="plus_info">
            <th  mat-header-cell *matHeaderCellDef > Détails</th>
            <td mat-cell *matCellDef="let element"> <a routerLink="{{'/home/users/' + element.id }}" title="Plus d'info"><mat-icon >visibility</mat-icon> </a> </td>
        </ng-container>
    </div>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr> 
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>

<mat-paginator [length]="length"
    [pageSize]="pageSize"
    [pageSizeOptions]="pageSizeOptions"
    showFirstLastButtons
    (page)="paginatorHandler($event)">
</mat-paginator>
