
      <div class="card_dashboard mat-elevation-z4" fxLayout="column" fxLayoutAlign="center center">
        
          <mat-card-header id="title">
            <mat-card-title id="title_police">Données personnelles </mat-card-title>
          </mat-card-header>
          <hr>
          <table style="width: 100%" cellspacing="10" >
            <tr>
              <td>
                <form [formGroup]="formGroup" fxLayout="column" fxLayoutAlign="center center" novalidate>
                    
                    <mat-form-field class= "tabelement">
                        <mat-label>Nom</mat-label>
                        <input formControlName="lastname" matInput placeholder="Votre nom" class="form-control">
                        <mat-icon matSuffix>account_box</mat-icon>
                    </mat-form-field>

                    <mat-form-field class= "tabelement">
                        <mat-label>Prénom</mat-label>
                        <input formControlName="firstname" matInput placeholder="Votre prénom" class="form-control">
                        <mat-icon matSuffix>account_circle</mat-icon>
                    </mat-form-field>

                    <mat-form-field class= "tabelement">
                        <mat-label>Date de Naissance</mat-label>
                        <input formControlName="birthdate" matInput placeholder="Votre date de naissance" class="form-control">
                        <mat-icon matSuffix>calendar_today</mat-icon>
                    </mat-form-field>

                    <mat-form-field class= "tabelement">
                        <mat-label>Email</mat-label>
                        <input formControlName="email" matInput placeholder="Votre email" class="form-control">
                        <mat-icon matSuffix>email</mat-icon>
                    </mat-form-field>

                    <mat-form-field class= "tabelement">
                        <mat-label>Mobile</mat-label>
                        <input formControlName="phone" matInput placeholder="Votre numéro de portable" class="form-control">
                        <mat-icon matSuffix>local_phone</mat-icon>
                    </mat-form-field>

                </form>
              </td>
            </tr>
          </table>
        
        </div>

