mat-card{
  min-height: 300px;
}
button{
  height: 50px;
}
.card_profil{
  padding: 0;
  margin-bottom: 40px;
  margin-top: 20px;
}

.tailleCard{
  margin-top: 3%;
  margin-left: 10%;
}


.tabelement {
    width: 90%;
}
