<!--<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">{{Prénom}}</th>
        <th scope="col">Nom</th>
        <th scope="col">Date de Naissance</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>
          <a [routerLink]="['/user', user.id]" class="btn btn-info">{{ user.id }}</a>
        </td>
        <td>firstName</td>
        <td>lastName</td>
        <td>birthDate</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>-->
<div class="container_user">
  <div class="zone zone1"><app-details-user></app-details-user> </div>
  <div class="zone zone2"><app-details-user></app-details-user></div>
  <div class="zone zone3"><app-details-user></app-details-user> </div>
  <div class="zone zone4"> <app-details-user></app-details-user></div>
  <div class="zone zone5"> <app-details-user></app-details-user></div>
</div>

