


@media screen and (min-width: 960px) {

  .container_user {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 6px;
    grid-row-gap: 6px;
    margin: auto;
  }
  .zone {
    padding: 10px;
  }

  .zone1 {
    grid-area: 1 / 1 / 2 / 3;
  }
  .zone2 {
    grid-area: 2 / 1 / 3 / 2;
  }
  .zone3 {
    grid-area: 2 / 2 / 3 / 3;
  }
  .zone4 {
    grid-area: 3 / 1 / 4 / 2;
  }
  .zone5 {
    grid-area: 3 / 2 / 4 / 3;
  }
}


@media screen and (max-width: 960px) {
  .container_user{
    width: 80%;
    margin:auto;
    margin-top: 20px;
  }
  .zone {
    padding: 20px;
  }
}
