<div class="card_dashboard mat-elevation-z4">
    <mat-card class="questionnaire-card">
        <mat-card-header  id="title">
            <mat-card-title  id="title_police">Questionnaire</mat-card-title>
        </mat-card-header>
        <hr>
        <mat-card-content>
            <div>
                <mat-list dense>

                    <mat-list-item>
                      <h3 matLine class="question">Angular est un framework orienté ...</h3>
                      <p matLine class="answer">composants.<span class="material-icons">check_circle</span></p>                      
                      <p matLine class="feedback">"Angular est un framework orienté composants : votre application entière est un assemblage de composants !"</p>
                    </mat-list-item>
                    <br>
                    <mat-list-item>
                        <h3 matLine class="question">Quelle entreprise est à l'origine d'Angular ?</h3>
                        <p matLine class="answer">Google.<span class="material-icons">check_circle</span></p>         
                        <p matLine class="feedback">"Angular a été crée par Google : Google a officiellement annoncé Angular à la conférence ng-conf en Octobre 2014."</p>
                    </mat-list-item>
                    <br>
                      <mat-list-item>
                        <h3 matLine class="question">À quoi sert un transpileur ?</h3>
                        <p matLine class="answer">Convertir du code JS du standard ECMAScript 6 vers ECMAScript 5.<span class="material-icons">check_circle</span></p>
                        <p matLine class="feedback">"Le transpilateur est un outil qui permet de publier son code pour les navigateurs qui ne supportent pas encore l'ES6 : le rôle du transpilateur est de traduire le code ES6 en code ES5."</p>
                      </mat-list-item>
                    <br>
                      <mat-list-item>
                        <h3 matLine class="question">Quel est le langage recommandé pour le développement d'applications Angular ?</h3>
                        <p matLine class="answer">TypeScript.<span class="material-icons">check_circle</span></p>
                        <p matLine class="feedback">"L'équipe fondatrice d'Angular recommande fortement d'utiliser TypeScript. D'ailleurs, TypeScript est le seul langage utilisé sur la documentation officielle d'Angular"</p>
                      </mat-list-item>
                    <br>
                      <mat-list-item>
                        <h3 matLine class="question">Qu’est-ce que l’injection de dépendance?</h3>
                        <p matLine class="answer">c'est un design pattern qui implémente le pattern Inversion de contrôle.<span class="material-icons">check_circle</span></p>
                        <p matLine class="feedback"> "L'injection de dépendance est un design pattern qui implémente le pattern Inversion de contrôle pour des applications logicielles."</p>
                      </mat-list-item>
                    <br>
                      <mat-list-item>
                        <h3 matLine class="question">Quels types d’injection de dépendance Spring prend-il en charge?</h3>
                        <p matLine class="answer">Les injections basées sur le constructeur et sur les setters.<span class="material-icons">check_circle</span></p>
                        <p matLine class="feedback">"Spring prend en charge les injections basées sur le constructeur et sur les setters."</p>
                      </mat-list-item>
                    <br>
                      <mat-list-item>
                        <h3 matLine class="question">Lequel des énoncés ci-dessous est correct concernant le Framework Spring ?</h3>
                        <p matLine class="answer">Le Framework Spring est une solution légère(light-weight solution).<span class="material-icons">check_circle</span></p>
                        <p matLine class="feedback">"De nombreuses raisons font de spring un framework léger. Spring vous fournit différents modules et vous permet d’utiliser celui qui vous convient le mieux. Idéalement, le fichier JAR de spring ne mesure que 2 à 3 MB. Si vous comparez Spring avec EJB, vous devez écrire beaucoup moins de code et de configurations. La beauté de Spring réside dans le fait que vous pouvez vous concentrer sur la logique métier alors que dans EJB, vous devez écrire beaucoup de code en même temps que la logique métier qui le rend encombrant et étroitement couplé. Avec Spring, vous jouez avec POJO qui ne dépend pas d’un Framework et améliore la testabilité de votre code. Spring propose une intégration transparente avec les frameworks, les bibliothèques tierces, etc."</p>
                      </mat-list-item>
                    <br>
                      <mat-list-item>
                        <h3 matLine class="question">AOP fait partie de Core Container dans le Framework Spring?</h3>
                        <p matLine class="answer">Faux.<span class="material-icons">check_circle</span></p>
                        <p matLine class="feedback">"AOP (Aspect-oriented programming) ne fait pas partie de Core Container, est l’un des composants clés du Framework Spring, est une approche de programmation qui permet aux propriétés d’un programme de déterminer comment ils sont compilées dans un programme exécutable. AOP complète les régles de POO en offrant également une modularité. AOP décompose la logique du programme en parties distinctes appelées « concerns ». Cela augmente la modularité par des « cross- cutting concerns »"</p>
                      </mat-list-item>
                    <br>
                      <mat-list-item>
                        <h3 matLine class="question">Le langage d’expressions (ou Expression Language) fait partie de Core Container dans le Framework Spring?</h3>
                        <p matLine class="answer">Vrai.<span class="material-icons">check_circle</span></p>
                        <p matLine class="feedback"> "SpEL signifie Spring Expression Language qui fait partie de Core Container. C’est un langage d’expression puissant qui prend en charge les requêtes et la manipulation d’un graphe d’objet au moment de la création du bean ou de l’exécution. Il est similaire à d’autres langages d’expression tels que JSP EL, OGNL, MVEL et JBoss EL, etc., avec quelques fonctionnalités supplémentaires telles que l’appel de méthode et la modélisation de chaînes de base."</p>
                      </mat-list-item>

                  </mat-list>

            </div>
        </mat-card-content>
    </mat-card>
</div>


