mat-card{
    min-height: 300px;
    max-width: 500px;
    justify-content: stretch;
  }

  .material-icons {
    color: green;
    vertical-align: middle;
    font-size: 12px;
    width: 12px;
    height: 12px;
  }

  .feedback {
    font-size: smaller;
    font-style: italic;
    font-stretch: condensed;
    color: grey;
  }

.answer {
  color:green;
}

.question {
  font-size: larger;
  color:black;
}

::ng-deep .mat-line {
  word-wrap: break-word !important;
  white-space: pre-wrap !important;
}

::ng-deep  .mat-list .mat-list-item{
  height:initial!important;
}





  
