footer{
  background-color: #f5f5f5;
  border-top: 1px solid #5b7787;
  border-bottom: 3px solid #5b7787;
 
  
}
.logoMar{
  margin-top: 20px;
}
.copyright{
  text-align: center;
}
.copyright p{
 margin-bottom: 0;
  font-size: 0.9em;
  color: #5b7787;
}
.logoFooter{
  width: 60%;
  margin-left: 60px;
  
  
}
