footer{
  background-color: #ffffff;
  border-top: 1px solid #5b7787;
  border-bottom: 3px solid #5b7787;
  margin-top: 40px;
}
.logoMar{
  margin-top: 10px;
}
.copyright{
  text-align: center;
}
.copyright p{
 margin-bottom: 0;
  font-size: 0.7em;
  color: #5b7787;
}
.logoFooter{
  width: 100%;
}
