<div *ngFor="let post of listPosts" class="divOffre">
<h1>{{post.status}}</h1>
<div class="zoneOffre">
    <h1 class="ligne">{{post.titreOffre}}</h1>

    <div>
        <div class="parent">
            <div class="zone1"> <app-informations></app-informations></div>
            <div class="zone2"> <app-exigences></app-exigences></div>
            <div class="zone3" ><app-formations-associees *ngIf="post.titreOffre != post.status"></app-formations-associees></div>
            <div class="zone4"> <app-candidater></app-candidater></div>
        </div>
    </div>
</div>
</div>
