.button-modal{
  float: right;
  margin: 10px 20px;
}

.titre-modal{
  color: #5b7787;
  font-size: 24px;
}

.phrase-modal{
  font-size: 16px;
  margin: 20px 20px 0px 20px;
}

.offre-nom-modal{
  font-size: 16px;
  margin: 10px 20px 0px 20px;
  font-style: italic;
}
