<div class="card_dashboard mat-elevation-z4">
    <mat-card>
        <mat-card-header id="title">
            <mat-card-title id="title_police">Candidature </mat-card-title>
        </mat-card-header>
        <hr>
        <mat-card-content fxLayout="column" fxLayoutAlign="space-between start" class="tailleCard">

            <div *ngFor="let post of listCandidature" fxLayout="row" fxFlex="100" class="candidature">

                <p class="Company" fxLayout="row" fxLayoutAlign="start start" fxFlex="30"> {{post.jobOffer.company}}</p>
                <p class="Job" fxLayout="row" fxLayoutAlign="start start" fxFlex="50"> {{post.jobOffer.name}} </p>
                <span fxFlex="20" fxLayout="row" fxLayoutAlign="start start" class="icon-candidature">
                    <span *ngIf ="post.status ==='ACCEPTED'">
                        <mat-icon aria-hidden="false" aria-label="Example home icon" style="color: seagreen">done</mat-icon>
                    </span>
                    <span *ngIf="post.status ==='REJECTED'">
                            <mat-icon aria-hidden="false" aria-label="Example home icon" color="warn">close</mat-icon>
                    </span>
                    <span *ngIf="post.status ==='WAITING'">
                        <mat-icon aria-hidden="false" aria-label="Example home icon" style="color: #1a7ea2">hourglass_empty</mat-icon>
                    </span>
                </span>

                <a fxFlex="10" fxLayout="row" fxLayoutAlign="center start" href="{{post.jobOffer.details}}" target="_blank" style="color: peru"> Details</a>
            </div>

        </mat-card-content>
    </mat-card>
</div>
