table {
    width: 100%;

  }

  
  .mat-form-field {
    font-size: 20px;
    width: 100%;
  }
  
  td, th {
    width: 15%;
    
    
  }

  a {
    color:black;
  }

  .btnIcon {
    color:black;
    margin-top: 7px;
  }

  .table-container {
    width: 80%;
  }