table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 20%;
  }
  .btnIcon {
    color:black;
    margin-top: 7px;
  }

  .table-container {
    width: 80%;
  }