.formation-list-container {
  width: 85%;
  margin: auto;
  padding-top: 60px;
  height:100vh;
}
table {
    width: 100%;

  }

  
  .mat-form-field {
    font-size: 20px;
    width: 100%;
  }
  
  td, th {
    width: 15%;
    
    
  }

  a {
    color:black;
  }

  .btnIcon {
    color:black;
    margin-top: 7px;
  }

  .table-container {
    width: 80%;
  }

@media screen and (max-width: 960px) {
  .nomOffre {
    padding-left: 5px !important;
  }
}
@media screen  and (max-width: 856px) {
  .noneOffre {
    display: none;
  }
}
@media screen  and (max-width: 594px) {
  .noneType {
    display: none;
  }
  .formation-list-container{
    width: 95%;
  }

}
@media screen  and (max-width: 521px) {
  .noneDescription {
    display: none;
  }
}
