<div class="formation-list-container">
    <mat-card>
        <mat-card-header id="title">
            <mat-card-title id="title_police">Offres de formation</mat-card-title>
        </mat-card-header>
        <hr>
        <mat-card-content>
            <div fxLayoutAlign="center center">
                <div class="mat-elevation-z3 table-container">
                    <app-page-data entityIn='training' ></app-page-data>
                </div>
            </div>
        </mat-card-content>
    </mat-card>


</div>
