<!--<div class="gestionCard" fxFlexAlign="stretch">
    <div fxLayout.gt-sm="column" fxFlex="100" class="modifCard">-->
        <!--
        <mat-card-header id="title">
            <mat-card-title fxLayoutAlign="center center" id="montitre">Profil</mat-card-title>
        </mat-card-header>-->

         <!-- ligne 0 debug
         <div style="width: 100%;" fxLayout.gt-sm="row" fxLayout="column" fxLayoutAlign="space-around start">
            <app-userlist></app-userlist>
        </div> -->
        <form [formGroup]="parentGroup" (submit)="onUpdateForm()" (reset)="onResetForm()">
            <div class="parent" >
                <div class="div1" ><app-user-conf [userInfoGroup]="parentGroup.get('formUserInfos')"></app-user-conf> </div>
                <app-chip-conf title="Qualifications" label="Nouvelle qualification" detail="qualification" [chipInfoGroup]="parentGroup.get('formQualInfos')" [userChipList]="userLogged.qualificationSet" ></app-chip-conf>
                <app-chip-conf title="Compétences" label="Nouvelle compétence" detail="compétence" [chipInfoGroup]="parentGroup.get('formSkillInfos')" [userChipList]="userLogged.skillSet"></app-chip-conf>
                <app-chip-conf title="Abonnements" label="Nouvel abonnement" detail="abonnement" [chipInfoGroup]="parentGroup.get('formSubscriptInfos')" userChipName="subscriptUnit" [userChipList]="userLogged.subscriptionSet" ></app-chip-conf>
                <div class="div5"> <app-simulation></app-simulation></div>
                <div class="div6"> <app-candidatures-user [listCandidature]="listCandidature"></app-candidatures-user> </div>
                <div class="div7"> <app-new-password></app-new-password></div>
                <div class="div8">
                    <div fxLayout="row" fxLayoutAlign="center center" novalidate>
                        <div class="btn-profil" >
                            <button type="submit" class="btn-profil" mat-raised-button color="primary" [disabled]="parentGroup.invalid">Sauvegarder</button>
                        </div>
                        <div class="btn-profil" >
                            <button type="reset" class="btn-profil" mat-raised-button color="warn">Annuler</button>
                        </div>
                    </div>

                </div>
            </div>
        </form>    



