<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Prénom</th>
        <th scope="col">Nom</th>
        <th scope="col">Date de Naissance</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of users">
        <td>
          <a [routerLink]="['/user', user.id]" class="btn btn-info">{{ user.id }}</a>
        </td>
        <td>{{ user.firstName }}</td>
        <td>{{ user.lastName }}</td>
        <td>{{ user.birthDate }}</td>
      </tr>
      </tbody>
    </table>
    <div class="recherche">
      <div >
        <button mat-button [matMenuTriggerFor]="menu" class="boutonMenu"><i class="material-icons" >
          dehaze
      </i></button>
          <form action=" " class="formulaire" >
              <div fxLayout="row " >
                  <mat-icon (click)="onSearch()" class="cursor">search</mat-icon>
                  <div class="input "><input (keydown)="onSearch() " placeholder="Recherche... "> </div>
              </div>
          </form>
      </div>
    </div>
  </div>
</div>
