
<div class ="user-list" class = "mat-elevation-z8">
    <mat-card>

        <mat-card-header id="title">
            <mat-card-title id="title_police">Liste des utilisateurs</mat-card-title>
        </mat-card-header>

        <hr>
        
        <mat-card-content>
            <div fxLayoutAlign="center center">
                <div class="mat-elevation-z3 table-container">
                    <table mat-table  #table [dataSource]="dataSource" >

                    <!-- Name Column -->

                        <ng-container matColumnDef="firstName">
                            <mat-header-cell *matHeaderCellDef> Prénom </mat-header-cell>
                            <mat-cell *matCellDef="let user"> {{user.firstName}} </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="lastName">
                            <mat-header-cell *matHeaderCellDef> Nom </mat-header-cell>
                            <mat-cell *matCellDef="let user"> {{user.lastName}} </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="birthDate">
                            <mat-header-cell *matHeaderCellDef> Date de naissance </mat-header-cell>
                            <mat-cell *matCellDef="let user"> {{user.birthDate | date: "dd/MM/yyyy"}}</mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="details">
                            <mat-header-cell *matHeaderCellDef> Details </mat-header-cell>
                            <mat-cell *matCellDef="let user"> <a [routerLink]="['/home/user-list/'+user.id]" ><mat-icon >visibility</mat-icon> </a></mat-cell>
                        </ng-container>

                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row> 
                    </table>
                </div>
            </div>
        </mat-card-content>

    </mat-card>
</div>
