
<div class ="user-list" class = "mat-elevation-z8">
    <mat-card>

        <mat-card-header id="title">
            <div fxLayout="row" fxLayout.xs="column">
                <div fxFlex="70%">
                    <mat-card-title id="title_police" layout-align="start center">Liste des utilisateurs</mat-card-title>
                </div>
                <div fxFlex="30%">
                    <div class="recherche" *ngIf="!isLoading">

                        <form [formGroup]="search" (ngSubmit)=" onSearchByFirstNameOrLastName() "
                              class="form-group">
                            <mat-form-field appearance="legacy">
                                <mat-label>Recherche par Nom ou Prénom</mat-label>
                                <mat-icon matSuffix>search</mat-icon>
                                <input formControlName="keyword" type="textarea" matInput
                                       placeholder="Recherche" >
                                <mat-hint>Appuyez sur Entrée après saisie</mat-hint>
                            </mat-form-field>
                        </form>
                    </div>
                </div>
            </div>
            <hr>
        </mat-card-header>



        <mat-card-content *ngIf="!isLoading">
            <div fxLayoutAlign="center center">
                <div class="mat-elevation-z3 table-container">
                    <table mat-table [dataSource]="dataSource"  (matSortChange)="change($event)" matSort>

                        <!-- Name Column -->

                        <ng-container matColumnDef="firstName">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Prénom </mat-header-cell>
                            <mat-cell *matCellDef="let user"> {{user.firstName}} </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="lastName">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Nom </mat-header-cell>
                            <mat-cell *matCellDef="let user"> {{user.lastName}} </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="birthDate">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Date de naissance </mat-header-cell>
                            <mat-cell *matCellDef="let user"> {{user.birthDate | date: "dd/MM/yyyy"}}</mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="details">

                            <mat-header-cell *matHeaderCellDef> Details </mat-header-cell>
                            <mat-cell *matCellDef="let user"> <a [routerLink]="['/home/user/'+user.id]" ><mat-icon >visibility</mat-icon> </a></mat-cell>

                        </ng-container>

                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                    </table>
                    <mat-paginator
                            [pageSize]="pageSize"
                            [pageSizeOptions]="pageSizeOptions"
                            (page)="change($event)"
                            [hidePageSize]="hidePageSize"
                            [showFirstLastButtons]="showFirstLastButtons"
                            [length]="length"
                            class="mat-paginator-container">
                    </mat-paginator>
                </div>
            </div>
        </mat-card-content>
    </mat-card>

</div>
<div class="progressBarDiv" *ngIf="isLoading" ><mat-progress-spinner class="is-loading" mode="indeterminate"></mat-progress-spinner></div>

