.card-body{
    display: flex;
    align-items: center;
    padding: 20px;
}

.formulaire {
    border-radius: 20px;
    background: white;
    padding: 5px;
}

.cursor {
    cursor: pointer;
}

.boutonMenu{
    display: none;
}