<div class="container_dashboard">
    <div  class="card_dashboard mat-elevation-z4">
        <mat-card>
            <mat-card-header id="title">
                <mat-card-title id="title_police">Profil</mat-card-title>
            </mat-card-header>
            <hr>
            <mat-card-content>
                <div class="parent">
                    <div class="detail">
                        <img [src]="image_user" >
                    </div>

                    <div class="detail">
                        <ul>

                            <li> Nom : {{user.firstName}} </li>
                            <li> Prénom : {{user.lastName}} </li>
                            <li> Date de Naissance : {{user.birthDate | date:'dd / MM / yyyy'}} </li>
                            <li> Email : {{user.email}}</li>
                            <li> Numéro de téléphone : {{user.mobileNumber}}</li>
                            <li> Statut : {{statusUser}}</li>
                        </ul>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>
