<div class="card_dashboard mat-elevation-z4">
    <mat-card >
        <mat-card-header  id="title">
            <mat-card-title  id="title_police">Formations Associées</mat-card-title>
        </mat-card-header>
        <hr>
        <mat-card-content>
            <div>
                <p>{{post.titletraining}}</p>
                <P>Pré-requis: {{post.prerequisite}}</P>
                <p>Compétence en fin de formation: {{post.skill}}</p>
                <P>Durée: {{post.duration}} heure(s)</P>
            </div>
        </mat-card-content>
    </mat-card>
</div>
