<div class="card_dashboard mat-elevation-z4">
    <mat-card >
        <mat-card-header  id="title">
            <mat-card-title  id="title_police">Formations Associées</mat-card-title>
        </mat-card-header>
        <hr>
        <mat-card-content>
            <div>
                <p>{{post.name}}</p>
                <!--<P>Pré-requis: {{jobDetails.prerequisites}}</P>-->
                <p>Compétence en fin de formation: {{post.description}}</p>
                <P>Durée: {{post.durationHours}} heure(s)</P>
            </div>
        </mat-card-content>
    </mat-card>
</div>
