<div class="profil" class="card_dashboard mat-elevation-z4" >
  <mat-card  >
    <mat-card-header id="title">
      <mat-card-title id="title_police">Profil</mat-card-title>
    </mat-card-header>
    <hr>
    <div class="tailleCard">
    <mat-card-content>
      <div class="photoProfile">
        <img [src]="user.photoProfile">
      </div>
     
        <ul>
          <li> {{ user.name }} {{ user.firstName }} </li>
          <li type="mail"> {{ user.email }}</li>
          <!--Idee ajouter le statuts etudiant ou demandeur d'emploi (ça permet a luniv et pole emploi d'evoir une statistique-->
          <li>Statut : {{ user.status }}</li>
          <li> Qualification : {{ user.qualification }}</li>
          <!-- <li> Statut : {{ user.status }}</li> -->
          <li> Competences : {{ user.competences }}</li>
          <!--Idee ajouter les centre d'interet cela permet au recruteur de cybler les profil adequat-->
          <!-- <li> Centre d'interet : {{ user.interest }}</li> -->
          <li> Objectif de carrière : {{ user.careerGoal }}</li>
        </ul>
      
    </mat-card-content>
  </div>
  </mat-card>
</div>
