<div class="container" fxLayoutAlign="center center">
<mat-card class="container-card">
    <mat-card-header id="title">
        <mat-card-title id="title_police">Simulation</mat-card-title>
    </mat-card-header>
    <hr>
    <mat-card-content>
        <div><h3>Exercice - Questionnaire : {{this.simulation.exerciseSet[indexQuestionnaire].name}}</h3></div>
        <mat-progress-bar mode="determinate" [value]="progressionValeur" ></mat-progress-bar>
        <br>
        <div style="margin-left: 30px">
        <label id="example-radio-group-label">{{this.simulation.exerciseSet[indexQuestionnaire].questions[indexQuestion].question}}</label>
        <div>
            <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group">
                <mat-radio-button class="example-radio-button" [value]="choix.id" (change)="selection = $event.value" (click)="activateButton()" *ngFor="let choix of this.simulation.exerciseSet[indexQuestionnaire].questions[indexQuestion].choices;  let cpt = index;" [checked]="false"> {{choix.choice}}</mat-radio-button>
            </mat-radio-group>
        </div>
        <div class="barre">
        <button mat-button [disabled]="disabledButtonP" *ngIf="!(indexQuestionnaire > 0 && indexQuestion==0) "  (click)="previous()" mat-raised-button color="primary" class="btn-previous">Précédent</button>
        </div>
        <div  class="barre" *ngIf="(indexQuestion == 0 ) && (indexQuestionnaire == ((this.simulation.exerciseSet.length)-1))">
            <button mat-button [disabled]="disabledButtonP" value="Submit"  (click)="previousQcm()" mat-raised-button color="primary"class="btn-qcmN">Questionnaire Précédent</button>   
        </div>
        <div  class="barre">
        <button mat-button [disabled]="disabledButton" *ngIf="(indexQuestion + 1) != this.simulation.exerciseSet[indexQuestionnaire].questions.length" value="Next" (click)="next()" mat-raised-button color="primary">Suivant</button>
        </div> 
        <div class="barre" *ngIf="(indexQuestion + 1) == this.simulation.exerciseSet[indexQuestionnaire].questions.length && (indexQuestionnaire + 1) != this.simulation.exerciseSet.length">
            <button mat-button [disabled]="disabledButton" value="Submit"  (click)="nextQcm()" mat-raised-button color="primary" class="btn-qcmN">Questionnaire suivant</button>
        </div>    
          
        <div class="barre" *ngIf="(indexQuestion + 1) == this.simulation.exerciseSet[indexQuestionnaire].questions.length && (indexQuestionnaire + 1) == this.simulation.exerciseSet.length">
            <button mat-button [disabled]="disabledButton" value="Submit" (click)="submit()"mat-raised-button color="primary" class="btn-qcmN">Envoyer</button>
        </div>
        </div>
    </mat-card-content>
</mat-card>
</div>
