.formulaire {
    border-radius: 20px;
    background: white;
    padding: 5px;
}
.toolbar a{
    font-size: 1.0rem;  
}
.toolbar {
    
    color: #5b7787;
    height: 100px;
}

.input {
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    display: inline-block;
    text-align: start;
    -webkit-appearance: textfield;
    cursor: text;
    border: none;
    font: 400 13.3333px Arial;
}

div input {
    border: none;
    margin-top: 2%;
}

.cursor {
    cursor: pointer;
}
header{
    height: 100px;
}
