header{
    display: grid;
    grid-template-columns: 100px 60px 1fr 270px 0;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-color: #f5f5f5;
}
.recherche{
    display: flex;
    align-items: center;
    padding: 20px;
}



.boutonMenu{
    display: none;
}
.formulaire {
    border-radius: 20px;
    background: white;
    padding: 5px;
}
.toolbar a{
    font-size: 1.0rem;  
}
.toolbar {
    
    color: #5b7787;
    height: 100px;
}
img{
    width: 90px !important;
}
.menu{

}

.input {

    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    display: inline-block;
    text-align: start;
    -webkit-appearance: textfield;
    cursor: text;
    border: none;
    font: 400 13.3333px Arial;
}
.recherche form{
    margin-right: 60px;
}

div input {
    border: none;
    margin-top: 2%;
}

.cursor {
    cursor: pointer;
}
header{
    height: 100px;
}
@media screen and (max-width: 770px){
    .boutonMenu{
        display: block;
        color: #5b7787;
        margin-left: 37px;
    }
    mat-toolbar a{
        display: none;
    }
}
@media (min-width: 591px) and (max-width: 900px){
header{
    display: grid;
    grid-template-columns: 50px 60px 0.7fr 130px 0px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-color: #f5f5f5;
}
}
@media screen and (max-width: 590px){
header{
    display: grid;
    grid-template-columns: 50px 60px 0.7fr 180px 150px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-color: #f5f5f5;
}
}

@media screen and (min-width: 952px) {
    .positionToolbar {
        display: flex;
        justify-content: end !important;
    }
}
