<header>
    <div   class="logoHeader recherche" >
        <img src="/assets/pictures/Logo.png " alt="logo " style="width: 45px; ">
    </div>
    <div class="recherche">
        <button mat-button [matMenuTriggerFor]="menu" class="boutonMenu"><i class="material-icons" >
            dehaze
        </i></button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item>Accueil</button>
            <button mat-menu-item>Profil</button>
            <button mat-menu-item>Notifications</button>
            <button mat-menu-item>Déconnexion</button>
        </mat-menu>
    </div>
        <div>
            <mat-toolbar class="toolbar positionToolbar" color="#5b7787" fxLayout.md="row" fxLayout.lt-md="column" fxLayoutAlign="center center">
                <div class="menu"  >
                    <div class="menuDisp" fxLayout="row " fxLayoutAlign="center center ">
                        <div>
                            <a href=" # " mat-button>Accueil</a>
                        </div>
                        <div>
                            <a href="# " mat-button>Profil</a>
                        </div>
                        <div>
                            <a href="# " mat-button>Notifications</a>
                        </div>
                        <div>
                            <a href="# " mat-button>Déconnexion</a>
                        </div>
                    </div>
                </div>
            </mat-toolbar>
        </div>
    <div class="recherche">
        <div >
            <form action=" " class="formulaire" >
                <div fxLayout="row " >
                    <mat-icon (click)="onSearch()" class="cursor">search</mat-icon>
                    <div class="input "><input (keydown)="onSearch() " placeholder="Recherche... "> </div>
                </div>
            </form>
        </div>
    </div>
    <div></div>
</header>
