<div class="card_profil mat-elevation-z4">
    <div class='row'>
        <mat-card class="slop-display-container" >
            <mat-card-header id="title">
                <mat-card-title id="title_police">Abonnements </mat-card-title>
            </mat-card-header>
            <hr>
            <mat-chip-list >
                <mat-chip *ngFor="let post of listSubscript" 
                [selectable]="selectable"
                [removable]="removable"
                (removed)="removeSubscript(post)"
                class="subscript">
                {{post.name}}
                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
            </mat-chip-list>
        </mat-card>
    </div>
      
    <form [formGroup]="subscriptInfoGroup" (submit)="addSubscript()" fxLayout="column" fxLayoutAlign="center center" novalidate>
        <div class='row'>
            <div class='column' >
                <div class="progressBarDiv"><mat-progress-bar *ngIf="isLoading" class="is-loading" mode="indeterminate"></mat-progress-bar></div>
                <mat-form-field>
                    <mat-label>Nouvel abonnement</mat-label>
                    <input formControlName="subscriptUnit"  type="text"  matInput  #subscriptInput = "matInput" [matAutocomplete]="auto" [formControl]="myControl" placeholder="abonnement" class="form-control">
                    <mat-autocomplete #auto="matAutocomplete" >
                        <ng-container *ngIf="!isLoading">
                            <mat-option *ngFor="let subscript of subscripts" [value]="subscript">
                            {{subscript}}
                            </mat-option>
                        </ng-container>
                      </mat-autocomplete>
                </mat-form-field>
            </div>
            <div class='column' id="btn_ajouter" fxFlex="30">
                <button type="submit" mat-raised-button color="primary" [disabled]="subscriptInput.focused && (subscriptInfoGroup.invalid || !subscriptInfoGroup.value.subscriptUnit)">Ajouter</button>
            </div>
        </div>
    </form>  
</div>
