<div class="card_dashboard mat-elevation-z4">
    <div class='row'>
        <mat-card class="slop-display-container" >
            <mat-card-header id="title">
                <mat-card-title id="title_police">Abonnements </mat-card-title>
            </mat-card-header>
            <hr>
            <mat-chip-list >
                <mat-chip *ngFor="let post of listSubscript" class="subscript">{{post.name}}</mat-chip>
            </mat-chip-list>
        </mat-card>
    </div>
      
    <form [formGroup]="subscriptInfoGroup" (submit)="addSubscript()" fxLayout="column" fxLayoutAlign="center center" novalidate>
        <div class='row'>
            <div class='column' fxFlex="40">
                <mat-form-field>
                    <mat-label>Nouvel abonnement</mat-label>
                    <input formControlName="subscriptUnit"  type="text"  matInput  [matAutocomplete]="auto" [formControl]="myControl" placeholder="abonnement" class="form-control">
                    <mat-autocomplete #auto="matAutocomplete" >
                        <mat-option *ngIf="isLoading" class="is-loading"><mat-spinner diameter="20"></mat-spinner></mat-option>
                        <ng-container *ngIf="!isLoading">
                            <mat-option *ngFor="let subscript of subscripts" [value]="subscript">
                            {{subscript}}
                            </mat-option>
                        </ng-container>
                      </mat-autocomplete>
                </mat-form-field>
            </div>
            <div class='column' id="btn_ajouter" fxFlex="20">
                <button type="submit" mat-raised-button color="primary" [disabled]="subscriptInfoGroup.invalid">Ajouter</button>
            </div>
        </div>
    </form>  
</div>
