<div class="card_dashboard mat-elevation-z4">
    <div class='row'>
        <mat-card >
            <mat-card-header id="title">
                <mat-card-title id="title_police">Abonnements </mat-card-title>
            </mat-card-header>
            <hr>
            <mat-chip-list >
                <mat-chip *ngFor="let post of listSubscript" class="subscript">{{post.subscript}}</mat-chip>
            </mat-chip-list>
        </mat-card>
    </div>
      
    <form [formGroup]="addSubscriptFormGroup" (submit)="addSubscript()" fxLayout="column" fxLayoutAlign="center center" novalidate>
        <div class='row'>
            <div class='column' fxFlex="40">
                <mat-form-field>
                    <mat-label>Nouvel abonnement</mat-label>
                    <input formControlName="newSubscript" matInput placeholder="abonnement" class="form-control">
                </mat-form-field>
            </div>
            <div class='column' id="btn_ajouter" fxFlex="20">
                <button type="submit" mat-raised-button color="primary">Ajouter</button>
            </div>
        </div>
    </form>  
</div>
