<div class="home-header">
  <app-header></app-header>
</div>
<div class="gestComponent" fxLayout="row">

  <div fxFlex="15" class="borderProfile">
    <app-menuprofile></app-menuprofile>
  </div>
  <div fxFlex="85">
    <router-outlet></router-outlet>
  </div>
</div>

  <app-footer></app-footer>














<!--  <mat-toolbar color="primary">
  <mat-toolbar-row fxLayout="row" fxLayoutAlign="center center">
    <span>Plateforme de recrutement et de formations</span>
  </mat-toolbar-row>

  <mat-toolbar-row>
    <div class="menu-container" fxLayout="row" fxLayoutAlign="center center">
      <button mat-button class="menu-element" fxLayout="row" fxLayoutAlign="center center">
        <mat-icon>home</mat-icon>
        <span>Accueil</span>
      </button>

      <button routerLink="/home/users-list" mat-button class="menu-element" fxLayout="row" fxLayoutAlign="center center">
        <mat-icon>people</mat-icon>
        <span>Utilisateurs</span>
      </button>

      <button mat-button class="menu-element" fxLayout="row" fxLayoutAlign="center center">
        <mat-icon>power_settings_new</mat-icon>
        <span>Déconnexion</span>
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>-->
